$dark: (
  1: #292e3d,
  2: #5e6282,
);
$orange: #f9995d;
$blue-dark: #1e1d4c;
$white: (
  1: #fff,
  2: #f6f8f7,
  3: #dfd7f9,
);
$tablet: 1440px;
$mobile: 768px;
@mixin respond-monitor($mq) {
  @media (max-width: $mq) {
    @content;
  }
}
@font-face {
  font-family: 'Roboto';
  src: url('./../fonts/roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Poppin';
  src: url('./../fonts/poppin/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppin';
  src: url('./../fonts/poppin/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Poppin';
  src: url('./../fonts/poppin/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Poppin';
  src: url('./../fonts/poppin/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

body,
button {
  font-family: 'Poppin';
  font-size: 16px;
  line-height: normal;
}
a {
  text-decoration: none;
}
.show {
  display: inline-block;
}
.hind {
  display: none;
}
.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  @include respond-monitor($tablet) {
    padding: 0 40px;
  }
  @include respond-monitor($mobile) {
    padding: 0 24px;
  }
}
.main-title {
  font-size: 45px;
  font-weight: 500;
  color: map-get($dark, 1);
  line-height: 60px;
  text-transform: capitalize;
  @include respond-monitor($tablet) {
    font-size: 30px;
    line-height: 40px;
  }
  @include respond-monitor($mobile) {
    font-size: 20px;
    line-height: 30px;
  }
}
.text-center {
  text-align: center;
}
.button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: map-get($white, 1) url(../images/btn_prev.svg) center no-repeat;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.18);
  }
  @include respond-monitor($tablet) {
    display: none;
  }
}
.button-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: map-get($white, 1) url(../images/btn_next.svg) center no-repeat;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.18);
  }
  @include respond-monitor($tablet) {
    display: none;
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
