@import "./common.scss";

.header {
  padding: 27px 0 26px;
  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    height: 21px;
    background: url("../images/logo_black-01.jpg") lightgray 50% / cover
      no-repeat;
  }
  .nav {
    float: right;
    &_list {
      font-size: 0;
    }
    &_item {
      display: inline-block;
      margin-left: 50px;
      &_link {
        font-size: 18px;
        color: $primary;
        &:hover {
          color: $primary-hover;
          font-weight: 600;
        }
      }
      &.is_active {
        .nav_item_link {
          color: $primary-hover;
          font-weight: 600;
        }
      }
    }
  }
}
.hero {
  padding: 52px 0 124px;
  font-size: 0;
  &_content {
    display: inline-block;
    vertical-align: middle;
    width: 592px;
    height: 254px;
  }
  &_title {
    color: $primary;
    font-family: "Roboto";
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
  }
  &_desc {
    width: 479px;
    margin-top: 46px;
    color: $secondary;
    line-height: 30px;
    font-weight: 500;
    font-size: 16px;
    & .text-hightlight {
      font-weight: 700;
    }
  }
  &_image {
    display: inline-block;
    vertical-align: middle;
    width: 580px;
    height: 462px;
    margin-left: 44px;
  }
}
.brief {
  height: 783px;
  padding: 44px 0;
  background-color: #ecf7ff;
  border-radius: 0px 360px;
  &_list {
    margin: 44px 0 auto;
    text-align: center;
    font-size: 0;
  }
  &_item {
    display: inline-block;
    position: relative;
    height: 260px;
    width: 288px;
    margin: 0 40px 33px;
    border-radius: 36px;
    &:nth-child(5),
    &:nth-child(4) {
      margin-bottom: 0;
    }
    &_box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    &_img {
      width: 94px;
      height: 72px;
      margin-bottom: 28px;
    }
    &_text {
      display: -webkit-box;
      // height: 60px;
      color: $text;
      text-align: center;
      font-size: 20px;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    &:hover {
      background-color: #fff;
      box-shadow: 5px 10px 40px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
.about {
  padding: 100px 112px;
  &_container {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &_img {
    width: 696px;
    height: 514px;
  }
  &_content {
    padding: 43px 40px;
  }
  &_desc {
    margin-top: 44px;
    color: $secondary;
    font-size: 18px;
    &:last-of-type {
      margin-top: 22.5px;
    }
  }
  &_btn {
    width: 212px;
    height: 51px;
    padding: 12px 15px;
    margin-top: 44px;
    border: 1px solid $primary;
    background-color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 18px;
    color: $text;
    &:hover {
      background-color: #d3d3d3;
      border-color: #d3d3d3;
      box-shadow: 0px 8px 37px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
.work {
  padding: 100px 112px;
  background-color: #f6f8f7;
  &_list {
    margin-top: 44px;
  }
  &_item {
    position: relative;
    width: 280px;
    height: 475px;
    box-shadow: 0px 0px 37px 0px rgba(17, 24, 39, 0.05);
    border-radius: 24px;
  }
  &_content {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    padding: 18px;
    height: 130px;
    background-color: #fff;
    border-radius: 0 0 24px 24px;
    font-size: 0;
    &_title {
      color: $text;
      font-size: 18px;
      font-weight: 700;
      line-height: 124.5%;
    }
    &_name {
      display: inline-block;
      margin-top: 4px;
      color: $text;
      font-size: 18px;
      line-height: 124.5%;
    }
    &_tag {
      display: inline-block;
      margin-top: 16px;
      color: $secondary;
      font-size: 13px;
      font-weight: 500;
      line-height: 124.5%;
    }
  }
  &_swiper {
    position: relative;
  }
}
.service {
  padding: 100px 112px;
  font-size: 0;
  &_content {
    display: inline-block;
    width: 624px;
    vertical-align: middle;
  }
  &_item {
    margin-top: 44px;
    &:nth-of-type(2) {
      .service_number {
        background-color: #f15a2b;
      }
    }
    &:nth-of-type(3) {
      .service_number {
        background-color: #006380;
      }
    }
    &:nth-of-type(4) {
      .service_number {
        background-color: #f0bb1f;
      }
    }
  }
  &_number {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    background-color: $primary-hover;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    vertical-align: top;
  }
  &_text {
    display: inline-block;
    width: 574px;
    margin-left: 16px;
  }
  &_title {
    color: $text;
    font-size: 18px;
    font-weight: 500;
  }
  &_desc {
    display: -webkit-box;
    height: 72px;
    line-height: 1.5;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
  }
  &_img {
    display: inline-block;
    width: 438px;
    height: 358px;
    vertical-align: middle;
    margin-left: 120px;
  }
}
.contact {
  height: 442px;
  padding: 44px 0;
  border-radius: 210px 0px 0px;
  background-color: rgba($light, 0.2);
  &_desc {
    margin-top: 12px;
    text-align: center;
    color: $text;
    font-size: 18px;
  }
  &_address {
    padding: 0 52px;
    margin-top: 44px;
    font-size: 0;
  }
  &_branch {
    display: inline-block;
    width: 488px;
    padding: 10px;
    &:nth-child(2) {
      margin-left: 136px;
    }
    &_title {
      color: $text;
      font-size: 18px;
      font-weight: 500;
    }
    &_info {
      margin-top: 12px;
      color: $secondary;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.footer {
  padding: 20px 112px;
  background-color: $primary;
  &_content {
    text-align: center;
    color: #fff;
  }
}
