@font-face {
  font-family: "Roboto";
  src: url("./../fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppin";
  src: url("./../fonts/poppin/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppin";
  src: url("./../fonts/poppin/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppin";
  src: url("./../fonts/poppin/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Poppin";
  src: url("./../fonts/poppin/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
body,
button {
  font-family: "Poppin";
  line-height: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.main-title {
  color: #292e3d;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  background: url(../images/btn_prev.svg) no-repeat;
  cursor: pointer;
}

.button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  background: url(../images/btn_next.svg) no-repeat;
  cursor: pointer;
}

.header {
  padding: 27px 0 26px;
}
.header .logo {
  display: inline-block;
  vertical-align: middle;
}
.header .logo_link {
  display: block;
  width: 280px;
  height: 21px;
  background: url("../images/logo.jpg") no-repeat;
}
.header .nav {
  float: right;
}
.header .nav_list {
  position: relative;
  font-size: 0;
}
.header .nav_item {
  display: inline-block;
  margin-left: 50px;
}
.header .nav_item_link {
  font-size: 18px;
  color: #292e3d;
}
.header .nav_item_link:hover {
  color: #f9995d;
  font-weight: 600;
}
.header .nav_item_link::after {
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  font-weight: 600;
  content: attr(title);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.header .nav_item.is_active .nav_item_link {
  color: #f9995d;
  font-weight: 600;
}

.hero {
  padding: 52px 0 124px;
  font-size: 0;
}
.hero_content {
  display: inline-block;
  width: 592px;
  height: 254px;
  vertical-align: middle;
}
.hero_title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 500;
  color: #292e3d;
  line-height: 75px;
}
.hero_desc {
  width: 479px;
  margin-top: 46px;
  font-size: 16px;
  font-weight: 500;
  color: #5e6282;
  line-height: 30px;
}
.hero_desc .text-hightlight {
  font-weight: 700;
}
.hero_image {
  display: inline-block;
  width: 580px;
  height: 462px;
  margin-left: 44px;
  vertical-align: middle;
}

.company {
  height: 783px;
  padding: 44px 0;
  background-color: #ecf7ff;
  border-radius: 0px 360px;
}
.company_list {
  margin: 12px 0 auto;
  font-size: 0;
  text-align: center;
}
.company_item {
  display: inline-block;
  position: relative;
  width: 288px;
  height: 260px;
  margin: 32px 40px 0;
  border-radius: 36px;
}
.company_item_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.company_item_img {
  width: 94px;
  height: 72px;
  margin-bottom: 28px;
}
.company_item_text {
  display: -webkit-box;
  max-height: 60px;
  overflow: hidden;
  font-size: 20px;
  color: #1e1d4c;
  text-align: center;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.company_item:hover {
  background-color: #fff;
  box-shadow: 5px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

.about {
  padding: 100px 112px;
}
.about_container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.about_img {
  width: 696px;
  height: 514px;
}
.about_content {
  padding: 43px 40px;
}
.about_desc {
  margin-top: 44px;
  font-size: 18px;
  color: #5e6282;
}
.about_desc:last-of-type {
  margin-top: 22.5px;
}

.btn_about {
  width: 212px;
  height: 51px;
  padding: 12px 15px;
  margin-top: 44px;
  border: 1px solid #292e3d;
  border-radius: 8px;
  background-color: #fff;
  font-size: 18px;
  color: #1e1d4c;
  box-shadow: 0px 8px 37px 0px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  cursor: pointer;
}
.btn_about:hover {
  border-color: #f9995d;
  background-color: #f9995d;
  color: #fff;
}

.work {
  padding: 100px 112px;
  background-color: #f6f8f7;
}
.work_list {
  margin-top: 44px;
}
.work .swiper {
  margin: -30px 0;
  padding: 30px 0;
}
.work_item {
  position: relative;
  width: 280px;
  height: 475px;
  border-radius: 24px;
  box-shadow: 0px 0px 37px 0px rgba(17, 24, 39, 0.05);
  cursor: pointer;
}
.work_item_img {
  border-radius: 24px 24px 26px 26px;
}
.work_content {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0;
  height: 130px;
  padding: 18px;
  border-radius: 0 0 24px 24px;
  background-color: #fff;
  font-size: 0;
}
.work_content_title {
  font-size: 18px;
  font-weight: 700;
  color: #1e1d4c;
  line-height: 124.5%;
}
.work_content_name {
  display: inline-block;
  margin-top: 4px;
  font-size: 18px;
  color: #1e1d4c;
  line-height: 124.5%;
}
.work_content_tag {
  display: inline-block;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #5e6282;
  line-height: 124.5%;
}
.work_swiper {
  position: relative;
}

.service {
  padding: 100px 112px;
  font-size: 0;
}
.service_content {
  display: inline-block;
  width: 624px;
  vertical-align: middle;
}
.service_item {
  margin-top: 44px;
}
.service_item:nth-of-type(2) .service_number {
  background-color: #f15a2b;
}
.service_item:nth-of-type(3) .service_number {
  background-color: #006380;
}
.service_item:nth-of-type(4) .service_number {
  background-color: #f0bb1f;
}
.service_number {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background-color: #f9995d;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  vertical-align: top;
  line-height: 34px;
}
.service_text {
  display: inline-block;
  width: 574px;
  margin-left: 16px;
}
.service_title {
  color: #1e1d4c;
  font-size: 18px;
  font-weight: 500;
}
.service_desc {
  display: -webkit-box;
  overflow: hidden;
  height: 72px;
  margin-top: 8px;
  font-size: 16px;
  text-overflow: ellipsis;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.service_img {
  display: inline-block;
  width: 438px;
  height: 358px;
  margin-left: 120px;
  vertical-align: middle;
}

.contact {
  height: 442px;
  padding: 44px 0;
  border-radius: 210px 0px 0px;
  background-color: rgba(223, 215, 249, 0.2);
}
.contact_desc {
  margin-top: 12px;
  font-size: 18px;
  color: #1e1d4c;
  text-align: center;
}
.contact_address {
  padding: 0 52px;
  margin-top: 44px;
  font-size: 0;
}
.contact_branch {
  display: inline-block;
  width: 488px;
  padding: 10px;
}
.contact_branch:nth-child(2) {
  margin-left: 136px;
}
.contact_branch_title {
  font-size: 18px;
  font-weight: 500;
  color: #1e1d4c;
}
.contact_branch_info {
  display: inline-block;
  margin-top: 12px;
  font-size: 16px;
  color: #5e6282;
  line-height: 24px;
}
.contact_branch_link {
  color: #5e6282;
}

.footer {
  padding: 20px 112px;
  background-color: #292e3d;
}
.footer_content {
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=style.css.map */